#-------------------------------------------------------------------------------
# *** Copyright 2021, passenger as an unpublished work.         *** --
#                        All rights reserved --
# 
# This code may not be copied, disclosed, distributed, or otherwise used  
# without the express written consent of passenger
# 
#-------------------------------------------------------------------------------
#
#      Filename: .gitignore
#          Date: Sat Jan 30 19:06:29 2021
# Last Modified: Tue Feb  9 20:50:40 2021
#       Author: Daniel Morelli
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# Start off with global ignore all files
#------------------------------------------------------------------------------
**
!*/

#-------------------------------------------------------------------------------
# Allow the gitignore
#-------------------------------------------------------------------------------
!.gitignore

#-------------------------------------------------------------------------------
# Add in the verilog and system verilog
#-------------------------------------------------------------------------------
!**.v
!**.sv
#-------------------------------------------------------------------------------
# Add in xml files
#-------------------------------------------------------------------------------
!*.xml
#-------------------------------------------------------------------------------
# C files
#-------------------------------------------------------------------------------
!*.h
!*.c
!Makefile
#-------------------------------------------------------------------------------
# tcl files
#-------------------------------------------------------------------------------
!*.tcl
!*.mdd
!*.xci
!*.xcix
!*.xdc

cam_pwm_fpga
#-------------------------------------------------------------------------------
# Allow read me files
#-------------------------------------------------------------------------------
!README

